APP_ENV=development

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=ecommerce
DB_USERNAME=postgres
DB_PASSWORD=1040

REPLICADE_AUTH_HEADER="Authorization: Basic aXdPMzVLZ09EZnRvOHY3M1I6"
REPLICADE_V3_BASE_URL=https://www.replicade.com.br/api/v3
REPLICADE_V1_ORDER_URL=https://www.replicade.com.br/api/v1/pedido/pedido

